// Customized BootStrap styling
@import "base";
@import "bootstrap/bootstrap";
@import "layouts/layouts";
@import "utilities/utilities";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/fa-regular';
@import '~@fortawesome/fontawesome-free/scss/fa-solid';

img {
    max-width: 100%;
}

label {
    font-weight: 600;
}

.btn-round {
    border-radius: 30px;
}

body, .l-main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.slide-leave-active {
    transition: $material-leave;
    opacity: 1;
    overflow: hidden;
}

.slide-enter-active {
    transition: $material-enter;
    opacity: 1;
    overflow: hidden;
}

.slide-enter {
    transform: translate(100%, 0);
    opacity: 0;
}

.slide-leave-to {
    transform: translate(100%, 0);
    opacity: 0;
}

.slide-down-enter-active {
    transition: $material-enter;
}

.slide-down-leave-active {
    transition: $material-leave;
}

.slide-down-enter, .slide-down-leave-to{
    opacity: 0;
    transform: translateY(-100%);
}

// We're controlling the animations manually, so disabled bootstrap's style
.invalid-feedback {
    display: block;
}

.invalid-feedback.is-inverse {
    background: theme-color("danger");
    color: $white;
    margin: 0;
    padding: rem-calc(3) rem-calc(6) rem-calc(2);
    border-radius: 0 0 $border-radius $border-radius;
    margin-top: -2px;
}