@import "~@/sass/base";

.h-line {
    &:before {
        content: '';
        display: block;
        background-color: #11869b;
        height: 4px;
        position: absolute;
        width: 100px;
        top: -25px;
    }
}

.h-hover-line {
    &:hover,
    &:active,
    &:focus,
    &[aria-expanded=true] {
        &:before {
            width: 40px;
        }
    }

    &:before {
        position: absolute;
        content: '';
        width: 0;
        height: 2px;
        background: $primary-color;
        transition: all 0.2s ease-out;
        display: block;
        margin-top: -5px;
    }
}

.h-line-mark {
    &:before {
        content: '';
        width: 40px;
        height: 2px;
        background: $primary-color;
        transition: all 0.2s ease-out;
        display: block;
        margin: 0 0 5px 0;
    }

    &.large-mark {
        &:before {
            width: 6rem;
            height: 4px;
        }
    }
}
