.h-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(20.81deg, #FFFFFF 0%, rgba(255,255,255,0.46) 100%);

    &.is-medium {
        background: rgba(4, 20, 39, 0.6)
    }

    &.is-dark {
        background: linear-gradient(0deg, #161E23 0%, #35434B 100%);
        opacity: .75;
    }
}