@import "~@/sass/base";

.c-mega-nav {
    &__close {
        display: none;
    }

    &__list {
        @include reset-list();
    }

    &__nav {
        position: relative;
    }

    &__link {
        font-size: 1rem;
        color: #000;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }
    }

    &__section {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            height: 0;
            width: 100%;
            background: $primary-color;
            transition: all 0.2s ease-in-out;
            z-index: 1;
        }
    }

    &__section-header {
        margin: 0;
        color: #888888;
        line-height: inherit;
    }
}

@include media-breakpoint-down(xs) {
    .c-mega-nav {
        &__list {
            margin: rem-calc(5) 0;
        }

        &__item {
            margin: rem-calc(10) 0;
        }

        &__link {
            display: block;
            padding: rem-calc(5) 0 0;
        }

        &__section {
            margin: 0;
        }

        &__section-header {
            font-size: rem-calc(14);
            font-weight: 800;
            margin: rem-calc(20) 0 rem-calc(5);
            padding-bottom: rem-calc(10);
            text-transform: uppercase;
            border-bottom: 1px solid $light-grey;
        }

        .h-placeholder-image, .h-mask {
            display: none;
        }
    }
}

@include media-breakpoint-up(sm) {
    .c-mega-nav {
        background: #3d3c38;

        &__link {
            color: #fff;

            &:hover,
            &:active,
            &:focus {
                color: #fff;

                &.h-hover-line:before {
                    width: rem-calc(40);
                }
            }
        }

        &__list {
            margin: 0 rem-calc(10);
        }

        &__item {
            margin: rem-calc(20) 0;
        }

        &__section-header {
            color: #fff;
            font-size: 1.6em;
            font-weight: bold;
            margin-bottom: rem-calc(50);
            padding: 0 rem-calc(10);
        }

        &__section {
            display: flex;
            justify-content: center;
            padding-top: rem-calc(60);
            padding-bottom: rem-calc(80);

            .collapse {
                display: block !important;
                height: auto !important;
            }

            &:hover,
            &:active,
            &:focus {
                &:before {
                    height: rem-calc(5);
                }

                .c-mega-nav {
                    &__section-header {
                        &.h-hover-line:before {
                            width: rem-calc(40);
                        }
                    }
                }
            }
        }

        &__close {
            display: block;
            bottom: rem-calc(20);
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            margin-top: -46px;
            z-index: 1;
            position: relative;
        }

        &__close-button, &__close-button.close {
            background: transparent;
            border-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            border-radius: 100%;
            background: #fff;
            text-align: center;
            font-size: rem-calc(24);
            height: 46px;
            width: 46px;
            color: #888888;
            opacity: 1;
        }
    }
}

@include media-breakpoint-up(md) {
    .c-mega-nav {
        &__section {

        }
    }
}